.main {
    background-image: url(../img/clouds.png);
    background-repeat: no-repeat;
    background-color: #ecf5fe;
    color: #516e90;
    padding: 100px 0;
    h2 {
        color: #516e90
    }
}